extends default

block scripts
  script(src='/modules/nexmoClient.js')
  script(src='/js/client.js')
  

block content
  div.container
    p.colorful We pride ourselves on our award-winning support service.</p>
  p#notifications.colorful.status
  input#msg(type='text')
  button#btnSend.button-send Send
  button#btnCall.button-call Call Now!
  button#btnHangup.button-hangup Hang Up
  button#btnAnswer.button-answer Answer

